<div class="container py-5 h-50">
    <div class="container" style="width:40%">
        <h1>Register</h1>
        <form style="justify-content:center" method="post">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input name="name" type="text" class="form-control input-sm" id="exampleInputName" required>
            </div>
            <div class="mb-3 ">
                <label for="exampleInputEmail" class="form-label">Email</label>
                <input name="email" type="email" class="form-control input-sm" id="exampleInputEmail" required>
            </div>

            <div>
                <label for="exampleInputEmail" class="form-label">Password</label>
                <input name="password" type="password" class="form-control input-sm" id="exampleInputPassword1"
                    required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">SingUp</button>
        </form>
    </div>
</div>