<div class="container py-5 h-50">
    <div class="container" style="width:40%">

        <div class="card">
            <h5 class="card-header">Welcome</h5>
            <div class="card-body">
                <h5 class="card-title"> TODO APP</h5>
                <p class="card-text">Welcome to my TODO APP !!!</p>
                <p class="card-text">Welcome to my TODO APP !!!</p>
                <a href="/todoADD" class="btn btn-primary">Go APP</a>
            </div>
        </div>
    </div>
</div>